// Size
$font-size-xs: 18px;
$font-size-sm: 20px;
$font-size-md: 24px;
$font-size-lg: 32px;
$font-size-xxl: 56px;

// Weight
$font-weight-semi-bold: 600;

// Line height
$line-height-xs: 22px;
$line-height-sm: 24px;
$line-height-xxl: 86px;
