$spacing-05: calc(0.5rem / 2);
$spacing-1: 0.5rem;
$spacing-2: calc($spacing-1 * 2);
$spacing-3: calc($spacing-1 * 3);
$spacing-7: calc($spacing-1 * 7);
$spacing-8: calc($spacing-1 * 8);
$spacing-9: calc($spacing-1 * 9);
