:root {
  --color-dark-comment-100: #7970a9;
  --color-dark-foreground-100: #f8f8f2;
  --color-dark-green-100: #8aff80;
  --color-dark-pink-100: #ff80bf;
  --color-dark-purple-100: #9580ff;
  --color-dark-selection-100: #454158;
  --color-dark-selection-200: #3b374e;

  --color-light-background-100: #f5f5f5;
  --color-light-background-200: #ebebeb;
  --color-light-comment-100: #635d97;
  --color-light-foreground-100: #1f1f1f;
  --color-light-green-100: #14710a;
  --color-light-purple-100: #644ac9;
  --color-light-pink-100: #a3144d;
}
