@layer reset, defaults ;

@import url('./_reset.css') layer(reset);

@layer defaults {
  html {
    font-family: "Raleway Variable", sans-serif;
    scroll-behavior: smooth;
    color: var(--foreground);
    background: var(--background);
  }
}

:root {
  --background: hsl(231, 15%, 18%);
  --foreground: hsl(60, 30%, 96%);
}