---
import "@fontsource-variable/nunito";
import "@fontsource-variable/raleway";

import LayoutPage from "@layouts/Page.astro";

const seo = {
  title: "Renan Girotto | Dev. Front-end",
  description:
    "This is a starter repo for an blog built with Astro including open graph tags, canonical urls, RSS, sitemap support.",
};
---

<LayoutPage seo={seo}>
  <section>
    <div class="grid-container">
      <h1 class="title">Olá, sou o Renan</h1>
    </div>
  </section>
</LayoutPage>

<style>
  .grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100dvh;
  }

  .title {
    font-size: 1.5rem;
    font-weight: 700;
  }
</style>
