---
import {
  Download as IconDownload,
  Github as IconGithub,
  Link as IconLink,
  Linkedin as IconLinkedin,
} from "lucide-astro";

import { Image } from "astro:assets";

import BaseHead from "../components/BaseHead.astro";
import ButtonTheme from "../components/ButtonTheme.astro";
import Header from "../components/Header.astro";

import constants from "../constants/index";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="pt-br">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="grid">
        <div class="grid-area" data-ui-area="name">
          <p>
            olá, sou o <span>Renan</span>, front-end criando <br />web apps nos
            últimos 7 anos.
          </p>
          <p>
            sempre interessado por <span>CSS</span>, <span>UX</span>, <br
            /><span>documentação</span> de software, <br />e quadrinhos.
          </p>
          <figure aria-hidden="true">
            <Image
              alt="Um desenho meu segurando meus óculos, os meus olhos não estão no resto mas sim presos as lentes dos óculos."
              class="is-first-glass"
              height="288"
              loading="eager"
              src="/images/avatar-glass-open.png"
              width="263"
            />
            <Image
              alt="Um desenho meu segurando meus óculos, os meus olhos não estão no resto mas sim presos as lentes dos óculos."
              class="is-second-glass"
              height="288"
              loading="eager"
              src="/images/avatar-glass-close.png"
              width="263"
            />
          </figure>
        </div>

        <a href="#" class="grid-area" data-ui-area="pdf">
          <IconDownload />
          <p>
            se precisar acesse meu portifólio em <span>.pdf</span>
          </p>
        </a>

        <a
          class="grid-area is-highlight"
          data-ui-area="github"
          href={constants.links.social.github}
          target="_blank"
        >
          <IconGithub />
          <span>
            <IconLink />
          </span>
        </a>

        <div class="grid-area" data-ui-area="company">
          <p>
            atualmente na <span>Red Ventures</span>, <br />como desenvolvedor
            senior.
          </p>
          <p>trabalhando com React, Next, Typrescript, Node e SCSS.</p>
          <a href="#">veja minha carreria</a>
        </div>

        <ButtonTheme class="grid-area" data-ui-area="switch" />

        <div class="grid-area" data-ui-area="blog">
          <p>
            compartilhando opiniões e estudos <br />em meu <span>blog</span>.
          </p>
          <a href="/blog">veja meus posts</a>
          <figure aria-hidden="true">
            <img
              alt="Um desenho meu deitado em uma mesa com chamas ao meu redor."
              class="is-first-table"
              src="/images/avatar-table-one.png"
            />
            <img
              alt="Um desenho meu deitado em uma mesa com chamas ao meu redor."
              class="is-second-table"
              src="/images/avatar-table-two.png"
            />
          </figure>
        </div>

        <a
          class="grid-area is-highlight"
          data-ui-area="linkedin"
          href={constants.links.social.linkedin}
          target="_blank"
        >
          <IconLinkedin />
          <span>
            <IconLink />
          </span>
        </a>
      </div>
    </main>
  </body>
</html>

<style>
  .grid {
    container-name: main-grid;
    container-type: inline-size;
    display: grid;
    grid-template-columns: calc(50% - 16px) 34px calc(50% - 34px - 16px);
    grid-template-rows: auto 224px auto 264px auto;
    gap: 16px 16px;
    grid-auto-flow: row;
    grid-template-areas:
      "name name name"
      "github linkedin linkedin"
      "company company company"
      "pdf pdf switch"
      "blog blog blog";
    width: 100%;
    max-width: 420px;
    margin-inline: auto;

    @container main-container (width >= 768px) {
      grid-template-columns: calc(50% - 16px) 34px calc(50% - 34px - 16px);
      grid-template-rows: 224px auto auto 224px 140px;
      grid-template-areas:
        "name name github"
        "name name linkedin"
        "company company company"
        "pdf blog blog"
        "switch blog blog";
      max-width: 768px;
    }

    @container main-container (width >= 1024px) {
      grid-template-columns: 274px 86px 172px 36px 274px;
      grid-template-rows: 224px 224px 224px;
      grid-template-areas:
        "name name name blog blog"
        "pdf github github blog blog"
        "company company switch switch linkedin";
      max-width: 906px;
    }
  }

  .grid-area {
    --_animation-delay-blog: 1.1s;
    --_animation-delay-company: 0.8s;
    --_animation-delay-github: 0.6s;
    --_animation-delay-linkedin: 0.7s;
    --_animation-delay-name: 0.5s;
    --_animation-delay-pdf: 1s;
    --_animation-delay-switch: 0.9s;

    visibility: hidden;
    padding-block: 32px;
    padding-inline: 32px;
    border-radius: 16px;
    background: light-dark(
      var(--color-light-background-200),
      var(--color-dark-selection-200)
    );
    opacity: 0;
    transform: translateY(8px);

    animation-name: animate-areas-fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    @container main-grid (width >= 768px) {
      --_animation-delay-blog: 0.9s;
      --_animation-delay-company: 0.8s;
      --_animation-delay-github: 0.6s;
      --_animation-delay-linkedin: 0.7s;
      --_animation-delay-name: 0.5s;
      --_animation-delay-pdf: 1s;
      --_animation-delay-switch: 1.1s;
    }

    @container main-grid (width >= 906px) {
      --_animation-delay-blog: 0.6s;
      --_animation-delay-company: 1.1s;
      --_animation-delay-github: 0.8s;
      --_animation-delay-linkedin: 0.9s;
      --_animation-delay-name: 0.5s;
      --_animation-delay-pdf: 0.7s;
      --_animation-delay-switch: 1s;
    }

    &:where(:is(a)) {
      text-decoration: none;

      &:where(:hover) {
        text-decoration: underline;
      }
    }

    &.is-highlight {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-block: 16px;
      padding-inline: 16px;
      position: relative;
      color: light-dark(
        var(--color-light-background-100),
        var(--color-dark-foreground-100)
      );
      background: light-dark(
        var(--color-light-comment-100),
        var(--color-dark-comment-100)
      );

      span {
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        position: absolute;
        inset: auto auto 16px 16px;
        color: light-dark(
          var(--color-light-comment-100),
          var(--color-dark-comment-100)
        );
        background: light-dark(
          var(--color-light-background-100),
          var(--color-dark-foreground-100)
        );

        svg {
          width: 20px;
          height: 20px;
          stroke-width: 3;
        }
      }

      svg {
        width: 80px;
        height: 80px;

        @container main-grid (width >= 768px) {
          width: 110px;
          height: 110px;
        }
      }
    }

    &:where([data-ui-area="name"]) {
      grid-area: name;
      position: relative;
      padding-block-end: 0px;

      animation-delay: var(--_animation-delay-name);

      @container main-grid (width >= 906px) {
        display: initial;
        padding-block-end: 32px;
      }

      br {
        display: none;

        @container main-grid (width >= 906px) {
          display: initial;
        }
      }

      p {
        &:first-child {
          --_span-font-size: 1.5rem;

          margin-block-end: 16px;
        }

        &:last-child {
          --_span-font-size: 1.125rem;
        }
      }

      figure {
        width: 263px;
        height: 288px;
        position: relative;
        margin-inline: auto;

        @container main-grid (width >= 906px) {
          position: absolute;
          inset: auto 24px 0 auto;
          margin-inline: 0;
        }

        img {
          position: absolute;
          inset: 0;
        }
      }
    }

    &:where([data-ui-area="pdf"]) {
      --_p-font-size: 1.25rem;
      --_span-font-size: 1.25rem;

      grid-area: pdf;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 16px;

      animation-delay: var(--_animation-delay-pdf);

      svg {
        width: 44px;
        height: 44px;
      }
    }

    &:where([data-ui-area="github"]) {
      grid-area: github;
      animation-delay: var(--_animation-delay-github);
    }

    &:where([data-ui-area="company"]) {
      grid-area: company;
      animation-delay: var(--_animation-delay-company);

      a {
        display: block;
        text-align: right;
      }

      br {
        display: none;

        @container main-grid (width >= 906px) {
          display: initial;
        }
      }

      p {
        margin-block-end: 16px;

        &:first-child {
          --_p-font-size: 1.25rem;
          --_span-font-size: 1.25rem;

          margin-block-end: 8px;
        }
      }
    }

    &:where([data-ui-area="switch"]) {
      grid-area: switch;
      display: flex;
      justify-content: center;
      align-items: center;
      animation-delay: var(--_animation-delay-switch);

      svg {
        width: 56px;
        height: 56px;
      }
    }

    &:where([data-ui-area="blog"]) {
      --_p-font-size: 1.5rem;
      --_span-font-size: 1.5rem;

      grid-area: blog;
      position: relative;
      text-align: right;
      animation-delay: var(--_animation-delay-blog);

      br {
        display: none;

        @container main-grid (width >= 906px) {
          display: initial;
        }
      }

      figure {
        width: 354px;
        height: 230px;
        position: relative;
        margin-block-start: 32px;
        margin-inline: auto;

        @container main-grid (width >= 768px) {
          position: absolute;
          inset: auto 16px 8px auto;
          margin-block-start: 0px;
          margin-inline: 0px;
        }

        @container main-grid (width >= 906px) {
          inset: auto -14px 12px auto;
        }

        img {
          position: absolute;
          inset: 0;
        }
      }

      p {
        margin-block-end: 8px;
      }
    }

    &:where([data-ui-area="linkedin"]) {
      grid-area: linkedin;
      animation-delay: var(--_animation-delay-linkedin);
    }

    a {
      color: light-dark(
        var(--color-light-purple-100),
        var(--color-dark-purple-100)
      );
      text-decoration: none;

      &:where(:hover) {
        text-decoration: underline;
      }
    }

    figure {
      overflow: hidden;

      img {
        &.is-first-table {
          animation-name: animate-image-table-one;
          animation-duration: 4s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }

        &.is-second-table {
          animation-name: animate-image-table-two;
          animation-duration: 4s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }

        &.is-first-glass {
          animation-name: animate-image-glass-one;
          animation-duration: 7s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }

        &.is-second-glass {
          animation-name: animate-image-glass-two;
          animation-duration: 7s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
      }
    }

    p {
      font-size: var(--_p-font-size, 1rem);
    }

    span {
      font-size: var(--_span-font-size, 1rem);
      font-weight: 600;
      color: light-dark(
        var(--color-light-pink-100),
        var(--color-dark-pink-100)
      );
    }
  }

  @keyframes animate-areas-fade-in {
    from {
      visibility: hidden;
      opacity: 0;
      transform: translateY(8px);
    }
    to {
      visibility: visible;
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes animate-image-table-one {
    0% {
      display: block;
    }
    24% {
      display: block;
    }
    25% {
      display: none;
    }
    49% {
      display: none;
    }
    50% {
      display: block;
    }
    74% {
      display: block;
    }
    75% {
      display: none;
    }
    99% {
      display: none;
    }
    100% {
      display: block;
    }
  }

  @keyframes animate-image-table-two {
    0% {
      display: none;
    }
    24% {
      display: none;
    }
    25% {
      display: block;
    }
    49% {
      display: block;
    }
    50% {
      display: none;
    }
    74% {
      display: none;
    }
    75% {
      display: block;
    }
    99% {
      display: block;
    }
    100% {
      display: none;
    }
  }

  @keyframes animate-image-glass-one {
    0% {
      display: block;
    }
    24% {
      display: block;
    }
    25% {
      display: none;
    }
    29% {
      display: none;
    }
    30% {
      display: block;
    }
    49% {
      display: block;
    }
    50% {
      display: none;
    }
    54% {
      display: none;
    }
    55% {
      display: block;
    }
    59% {
      display: block;
    }
    60% {
      display: none;
    }
    64% {
      display: none;
    }
    65% {
      display: block;
    }
    84% {
      display: block;
    }
    85% {
      display: none;
    }
    89% {
      display: none;
    }
    90% {
      display: block;
    }
    100% {
      display: block;
    }
  }

  @keyframes animate-image-glass-two {
    0% {
      display: none;
    }
    24% {
      display: none;
    }
    25% {
      display: block;
    }
    29% {
      display: block;
    }
    30% {
      display: none;
    }
    49% {
      display: none;
    }
    50% {
      display: block;
    }
    54% {
      display: block;
    }
    55% {
      display: none;
    }
    59% {
      display: none;
    }
    60% {
      display: block;
    }
    64% {
      display: block;
    }
    65% {
      display: none;
    }
    84% {
      display: none;
    }
    85% {
      display: block;
    }
    89% {
      display: block;
    }
    90% {
      display: none;
    }
    100% {
      display: none;
    }
  }
</style>
