---
import "@fontsource/abril-fatface";
import "@fontsource/raleway";

import AnimatedCode from "../components/AnimatedCode.astro";

import "../styles/reset.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="generator" content={Astro.generator} />
    <title>Renan Girotto</title>
  </head>
  <body>
    <main class="main-content">
      <section>
        <div class="content-grid">
          <div class="content-grid-item">
            <AnimatedCode />
          </div>
          <div class="content-grid-item">
            <div class="content-box-text animate-content">
              <span class="content-text">Olá, sou o Renan</span>
              <h1 class="content-title">
                <span class="content-highlight is-aqua">
                  <span>Desenvolvedor</span>
                </span>
                <span class="content-highlight is-aqua">
                  <span>Front-end</span>
                </span>
              </h1>
              <span class="content-text">@Red Ventures Brasil.</span>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="content-grid">
          <div class="content-grid-item">
            <div class="content-box-text">
              <span class="content-text">Trabalhando na</span>
              <h2 class="content-title">
                <span class="content-highlight is-pink">
                  <span>Red Ventures</span>
                </span>
                <span class="content-highlight is-pink">
                  <span>Brasil</span>
                </span>
              </h2>
              <span class="content-text"
                >com uma stack <br />baseada em React.</span
              >
            </div>
          </div>
          <div></div>
        </div>
      </section>
      <section>
        <div class="content-grid">
          <div></div>
          <div class="content-grid-item">
            <div class="content-box-text">
              <span class="content-text">Aos poucos</span>
              <h2 class="content-title">
                <span class="content-highlight is-blue">
                  <span>Criando</span>
                </span>
                <span class="content-highlight is-blue">
                  <span>um Blog</span>
                </span>
              </h2>
              <span class="content-text"
                >que você pode <br />
                conferir aqui.</span
              >
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="content-grid">
          <div class="content-grid-item">
            <div class="content-box-text">
              <span class="content-text">E mantendo alguns</span>
              <h2 class="content-title">
                <span class="content-highlight is-cherry">
                  <span>Projetos</span>
                </span>
                <span class="content-highlight is-cherry">
                  <span>pessoais</span>
                </span>
              </h2>
              <span class="content-text"
                >para estudo e impacto <br />
                no meu dia-a-dia.</span
              >
            </div>
          </div>
          <div></div>
        </div>
      </section>
    </main>
  </body>
</html>

<style>
  :root {
    --text-white: #fefefe;
    --background: #24252e;
  }

  html {
    scroll-behavior: smooth;
    font-family: "Raleway", sans-serif;
  }

  .main-content {
    min-height: 100vh;
    min-height: 100dvh;
    background: var(--background);
  }

  .content-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 100px;
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    min-height: 100dvh;
    margin-inline: auto;
  }

  .content-grid-item {
    display: flex;
    align-items: center;

    &:first-child {
      justify-content: flex-end;
    }
  }

  .content-box-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--text-white);
  }

  .content-text {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
  }

  .content-title {
    font-family: "Abril Fatface", sans-serif;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .content-highlight {
    display: block;
    width: fit-content;
    position: relative;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);

    &::before {
      content: "";
      display: block;
      width: 90%;
      height: 12px;
      position: absolute;
      left: -4px;
      bottom: 8px;
      z-index: 0;
      opacity: 0.9;
    }

    > span {
      position: relative;
      z-index: 1;
    }

    &:last-child {
      &::before {
        width: 72%;
      }
    }

    &.is-aqua {
      &::before {
        background: #00e8c6;
      }
    }

    &.is-pink {
      &::before {
        background: #ff00aa;
      }
    }

    &.is-blue {
      &::before {
        background: #00b0ff;
      }
    }

    &.is-cherry {
      &::before {
        background: #f92672;
      }
    }
  }

  .animate-content {
    color: var(--background);
    animation: animate-box 1s linear 1.5s forwards;

    & .content-text {
      font-size: 1.5rem;
      line-height: 2rem;
      opacity: 0;
      animation: animate-text 0.5s linear 2.85s forwards;

      &:last-child {
        animation-delay: 2.95s;
      }
    }

    & .content-title {
      font-size: 3.75rem;
    }

    & .content-highlight {
      opacity: 0;
      animation: animate-title 0.5s linear 2.5s forwards;

      &::before {
        width: 0%;
        animation: animate-highlight 0.5s linear 3s forwards;
      }

      &:last-child {
        animation: animate-title 0.5s linear 2.6s forwards;

        &::before {
          width: 0%;
          animation: animate-highlight-small 0.5s linear 3.1s forwards;
        }
      }
    }
  }

  @keyframes animate-box {
    0% {
      color: var(--background);
    }
    100% {
      color: var(--text-white);
    }
  }

  @keyframes animate-text {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes animate-title {
    0% {
      transform: translateY(8px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  @keyframes animate-highlight {
    0% {
      width: 0%;
    }
    100% {
      width: 90%;
    }
  }

  @keyframes animate-highlight-small {
    0% {
      width: 0%;
    }
    100% {
      width: 72%;
    }
  }
</style>
