---
import { LINKS } from "@/consts";
---

<footer>
  <div class="container">
    <h2>Gostou da leitura?</h2>
    <p>
      Assine a minha <a href={LINKS.social.substack} target="_blank"
        >newsletter</a
      > para acompanhar quando houver um novo artigo!
    </p>
  </div>
</footer>

<style>
  footer {
    padding-block-start: 64px;
    font-weight: 600;
    color: light-dark(
      var(--color-light-background-100),
      var(--color-dark-foreground-100)
    );
    text-align: center;

    h2 {
      font-family: "Nanum Pen Script", cursive;
      font-size: 2.5rem;
      line-height: 1.4;
    }

    a {
      display: inline-block;
      padding-block: 2px;
      padding-inline: 8px;
      border-radius: 2px;
      color: light-dark(
        var(--color-light-purple-100),
        var(--color-dark-purple-100)
      );
      background: light-dark(
        var(--color-light-background-100),
        var(--color-dark-foreground-100)
      );
    }
  }

  .container {
    padding-block: 24px;
    padding-inline: 16px;
    border-radius: 8px;
    background: light-dark(
      var(--color-light-purple-100),
      var(--color-dark-purple-100)
    );

    @container main-container (width >= 768px) {
      padding-block: 56px;
    }
  }
</style>
